<section id="restore-password">
	<div class="restore_password_page">
		<form class="cps_container" method="POST" action="/auth/restore-password">
			<p class="title_forgot_password">Quên Mật khẩu</p>
			<p class="title_note">Hãy nhập email của bạn vào bên dưới để bắt đầu quá trình khôi phục
				mật khẩu.</p>
			<div class="restore_input">
				<label for="">Email : </label>
				<input type="email" name="email" />
				<button class="continue" type="submit">Tiếp tục</button>
			</div>
		</form>
	</div>
</section>