<section id="home_admin">
    <div class="home_container">
        <button class="box_fun btn_3d"><a href="/admin/order_manager">Đơn hàng</a></button>
        <button class="box_fun btn_3d"><a href="/admin/CRUD">Sản phẩm</a></button>
        <button class="box_fun btn_3d"><a href="/admin/user_manager">User</a></button>
        <button class="box_fun btn_3d">Quản lí Voucher</button>
        <button class="box_fun btn_3d"><a href="/admin/statistical">Thống kê</a></button>
        <button class="box_fun btn_3d"><a href="/admin/BXH">Bảng Xếp hạng điểm tiêu dùng</a></button>
    </div>
</section>