<section id="restore-password">
	<div class="restore_password_page">
		<form class="cps_container" method="POST" action="/profile/changePassword">
			<p class="title_forgot_password">Tạo mật khẩu mới</p>
			<div class="restore_input">
				<input type="text" name="oldPassword" placeholder="Nhập mật khẩu cũ" />
				<input type="text" placeholder="Nhập mật khẩu mới của bạn" name="newPassword" />
				<input
					type="text"
					name="enterPassword"
					placeholder="Nhập lại mật khẩu mới của bạn "
				/>
				<button class="continue" type="submit">Xác nhận</button>
			</div>
		</form>
	</div>
</section>