<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tai nghe</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<link rel="icon"  href="../img/logo.png" type="icon">
		<link rel="stylesheet" href="../../toast/style.css">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</head>
	<body>
		 <div class="notifications"></div>
		{{> header}}
		{{{body}}}
		{{>footer}}
		<script src="../js/main.js"></script>
		<script src="../js/app.js"></script>
	</body>
	</html>
