<section class="statistical">
	<a href="/admin"><button class="btn_chart">Quay lại</button></a>
	<div class="container_statistical">
		<div id="myPlot"></div>
		<div id="myChart"></div>
	</div>
</section>