<footer id="footer" class="footer">
	<div class="footer-container">
		<div class="footer-col1 footer-col">
			<a href="/"><img src="../img/logo.png" alt="" /></a>
			<p>Kết nối cùng với với mạng xã hội ,Thương hiệu nổi bật nhất hiện nay.</p>
			<div class="footer-icons">
				<i class="bx bxl-facebook-circle"></i>
				<i class="bx bxl-twitter"></i>
				<i class="bx bxl-instagram"></i>
				<i class="bx bxl-youtube"></i>
			</div>
		</div>
		<div class="footer-col2 footer-col">
			<h3>Dịch Vụ hỗ trợ</h3>
			<span>Hỗ trợ khách hàng</span>
			<span>Hỗ trợ mua hàng</span>
			<span>Hỗ trợ thanh toán</span>
			<span>Hỗ trợ chăm sóc khách hàng</span>
		</div>
		<div class="footer-col3 footer-col">
			<h3>Dịch Vụ hỗ trợ</h3>
			<span>Hỗ trợ khách hàng</span>
			<span>Hỗ trợ mua hàng</span>
			<span>Hỗ trợ thanh toán</span>
			<span>Hỗ trợ chăm sóc khách hàng</span>
		</div>
		<div class="footer-col4 footer-col">
			<h3>Thông tin liên hệ</h3>
			<span><i class="bx bxs-map"></i> Ấp 3 Xuân thới thượng Hóc Môn Việt Nam</span>
			<span><i class="bx bxs-phone"></i> + 012345678910</span>
			<span><i class="bx bxs-envelope"></i> hauDev.@gmail.com</span>

		</div>
	</div>
	{{! <span>@ 2023 :Ahehe !!!! CopyRight</span> }}
</footer>